<%= render partial: 'shared/menu' %>

<div class='new-blog-form-container'>
  <% @blogs.each do |blog| %>
    <div class='col user-show-cards'>
      <% if blog.completed === false %>
      <div class='card'>
        <div class='card-block'>
          <% if blog.completed %>
            <h3 class='completed-display'> Completed </h3>
          <% else %>
          <h4 class='points-display'>Points: <%= blog.points %></h4>
          <% end %>

          <h3 class='card-title'><%= blog.title %></h3>
          <pre class='card-body'><%= blog.body %></pre>

          <!-- note controls -->
          <% if blog.user_id == current_user.id %>
            <ul class='card-button-list'>
              <li class='card-button'><%= button_to "Show", user_blog_path(@user, blog), :method => "get", class: "btn blog-show-button"%></li>
                <% if current_user.id == @user.id %>
                <li class='card-button'><%= button_to "Edit", edit_user_blog_path(@user, blog), :method => "get", class: "btn blog-edit-button"%></li>
                <li class='card-button'><%= button_to "Delete", user_blog_path(@user, blog), :method => "delete", class: "btn blog-delete-button" %></li>
                <li class='card-button'><%= button_to blog.category.title, user_category_path(@user, blog.category), :method => "get", class: "btn blog-category-button" %></li>
              <% end %>
            <% else %>
              <p>no controls</p>
            <% end %>
            <ul>
        </div>
      </div>
      <% end %>
      </div>
    <% end %>
</div>
