<div class='jumbotron' id='user-jumbo'>
  <h2 class='username-header'><%= @user.username %></h2>
  <h4 class='user-points'>Points: <%= @user.points %></h4>
</div>

<div class="menu-container">
<% if current_user.id == @user.id %>
  <ul class="nav nav-pills menu-ul justify-content-center">
    <li class='nav-link'><%= button_to "New Note", new_user_blog_path(@user), method: "get", class: "btn new-blog-button" %></li>
    <li class='nav-link'><%= button_to "Categories", user_categories_path(@user), method: "get", class: "btn categories-button" %></li>
    <li class='nav-link'>
      <%= button_to "Completed", completed_path(@user), method: "get", class: "btn completed-button" %>
    </li>
    <li class='nav-link'>
      <%= button_to "Incomplete", incomplete_path(@user), method: "get", class: "btn incomplete-button" %>
    </li>
    <li class='nav-link'>
      <%= button_to "Friends", user_path(@user), method: "get", class: "btn friends-button" %>
    </li>
  </ul>
<% end %>
</div>
